html body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle 700px,rgb(87, 87, 87),darkcyan);
    font-family: Roboto;
}
section{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5); ;
    background-color: rgb(87, 87, 87) ;
}
#botao{
    width: 25px;
    height: 25px;
    font-size: 10px;
    background-color: gray;
    color: white;
}
#cxtexto{
    width: 120px;
    height: 20px;
    font-size: 13px;
    margin-top: 50px;
    background-color: gray;
    color: white;
}
header{
    text-align: center;
    border-bottom: 1px solid black;
    background-color:darkcyan;
    width: 100%;
}
table{
    margin-bottom: 20px;
}
footer{
    text-align: center;
    background-color:darkcyan;
    border-top:1px solid black;
}
header h1, footer p{
    margin: 0;
    padding: 10px;
    color: white;
}
